@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import "index.css";
@import "photo.css";

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  height: 100vh;
  background: #ececec;
}

.about_nav {
  width: 10%;
  width: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}

.about_nav_btn {
  font-size: 3rem;
  margin-bottom: 5rem;
}

@media (max-width: 1483px) {
  .about_main_title_box {
    display: block;
  }

  .about_main_title_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .about_main_greeting_box {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
