@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import "index.css";
@import "photo.css";

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  height: 100vh;
  background: #ececec;
}

.photo_container {
  display: flex;
  height: 100vh;
  background: #ececec;
}

.about_nav {
  width: 10%;
  width: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}

.about_nav_btn {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.about_nav_btn:hover {
  color: tomato;
}

.active {
  color: tomato;
}

@media (max-width: 1483px) {
  .about_main_title_box {
    display: block;
  }

  .about_main_title_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .about_main_title_greeting_box {
    margin: 0;
  }

  .about_main_title_greeting {
    text-align: center;
  }
}

@media (max-width: 1418px) {
  .container {
    display: block;
    height: auto;
    padding-bottom: 20rem;
  }

  .photo_container {
    display: block;
    height: auto;
    height: 100vh;
  }

  .about_nav {
    width: 100%;
    height: 10rem;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
  .about_main {
    width: 100%;
    height: 30%;
  }

  .about_main_title_box {
    display: flex;
  }

  .about_main_status_box {
    display: none;
  }

  .about_main_title_greeting_box {
    margin-left: 3rem;
  }

  .about_section {
    background: none;
    margin: auto;
  }

  .photo_section {
    padding: 0;
  }
}

@media (max-width: 1026px) {
  .about_section_rheader {
    display: none;
  }
  .about_section_lheader {
    width: 100%;
  }
}

@media (max-width: 925px) {
  html {
    font-size: 7px;
  }

  .container {
    height: auto;
  }

  .about_section_content_card {
    flex-direction: column;
  }

  .about_section_content {
    margin-bottom: 5rem;
    margin-top: 3rem;
  }
}

@media (max-width: 435px) {
  html {
    font-size: 5px;
  }
}
